<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Filter</key>
    <dict>
        <key>CoreFoundationVersion</key>
        <array>
            <integer>1750</integer>
            <integer>2000</integer>
        </array>
        <!-- يعمل على كل التطبيقات -->
        <key>Mode</key>
        <string>Any</string>
    </dict>
</dict>
</plist>
